*, *::before, *::after {
    box-sizing: border-box;
    margin:0;
    padding:0;

    max-width: 1290px;
    align-items: center;
    margin:auto

}


body{
    font-family: 'Open Sans', sans-serif;
    color: #303030;
}

h1, h2, h3{
    font-family: 'Open Sans', sans-serif;
    color: #1f1f1f;
}

header{
    padding: 3.5% 5% 3.5% 4%;
    margin: 0 auto;
    text-align: justify;
}

header a {
    text-decoration: none;
    color: black;
    padding: 0 1%;

    font-size: 18px;

    display: block;
    float: right;

    padding-left: 2.5%;
    
    margin-top: 1%;

    margin-left: auto; 
    margin-right: 0;
}

header a:hover{
    color: #7a7a7a;
}



.one{
    justify-content: left;
    padding:  4% 0 0 5%;

    display: flex;
    gap: 10%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

.one{
    display: flex;
    justify-content: space-between;
}

.one p {
    padding-top: 4%;
}

.one img{
    position: relative; 
    height: 50%; 
    width: 50%; 
    padding: 0;
    padding-bottom: 10%; 

    padding-right: 5%;
}

.one .email{
    margin-top: 2.5%;
}

.one button{
    border: none;
    background-color: #2f65f9;
    color: white;

    border-radius: 12px;
    padding: 15px 50px 15px 50px;
    margin: 0 0 0 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;

    box-shadow: 7px 7px 5px rgb(200, 200, 200);
}

button:hover{
    background-color: #4476ff;
}

.email button:hover{
    background-color: #4476ff;
}

.one input{
    border-radius: 5px;
    padding: 15px 80px 15px 80px;
    margin-right: 10px;
}


.sectionborder{
    width: 100%;
    
    font-size:0;
}


.two{
    background-color: #f9f8fe;

    padding: 6% 3% 0 5%; 
    gap: 10%;

    justify-content: left;
    display: flex;
    justify-content: space-between;
}

.two h1{
    padding-bottom: 4%;
}

.two p{
    padding-bottom: 3%;
}

.two .link a{
    font-size: 20px;
    color: #50a799;
    
    align-items: top;
}

.two .link a:hover{
    font-size: 20px;
    color: #65d0be;
    
    align-items: top;
}

.two .link img{
    width: 50px;
    height: auto;
}

.two img{
    position: relative; 
    height: 50%; 
    width: 50%; 

    padding-right: 5%;
}

.two .quote{
    background-color: white;
    margin: 7% 30% 16% 8%;
    padding: 2% 2% 2% 2%;

    border-radius: 6px;

    -webkit-box-shadow: 0 0 10px 2px rgb(200, 200, 200);
    -moz-box-shadow: 0 0 10px 2px rgb(200, 200, 200);
    box-shadow: 0 0 10px 2px rgb(200, 200, 200);
}

.two .quote img{
    height: 20px;
    width: auto;
    padding-bottom: 1%;
}


.two .user img{
    border-radius: 50%; 
    
    float: left;
    height: 50px;
    padding-top: 3%;
}

.two .user p{
    display: inline-block;
    text-align: right;

    font-size: 15px;
}



.three{
    background-color: #575989;
    padding: 7% 5% 7% 0%;
    color: white;

    display: flex;
}

.three .text{
    align-items: left;
    width: 40%;
}

.three h1{
    color: white;
}

.three p{
    padding-top: 3%;
    font-size: 16px;
}

.three input{
    border-radius: 5px;
    padding: 5% 40% 5% 40%;

    box-shadow: 3px 3px 5px #4b4c77;

    align-items: right;
}

.three button{
    border: none;
    background-color: #2f65f9;
    color: white;

    border-radius: 12px;
    padding: 5% 20% 5% 20%;
    margin-top: 500px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;

    box-shadow: 7px 7px 5px #4b4c77;

    align-items: right;
}

footer{
    background-color: #07043b;
    color: white;

    padding: 5% 0% 4% 0%;

    display: flex;
    justify-content: space-between;
}

footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: #5650c6;
}

footer ul{
    list-style-type: none;
}

@media screen and (max-width: 700px){
    *{
        max-width: 100%;
    }

    .one{
        flex-direction: column-reverse;
        gap: 1rem;

        justify-content: center;
        align-items: center;
        text-align: center;
        
        margin: auto;
        padding-bottom: 6%;
    }

    .one h1{
        font-size: 32px;
    }
    .one p{
        font-size: 22px;
        padding: 0 12% 0 12%;
    }

    .one img{
        width: 100%;
    }

    input{
        width: 80%;
    }
    button{
        width: 80%;
    }

    .two{
        flex-direction: column-reverse;
        gap: 1rem;
        
        margin: auto;
    }

    .two img{
        padding-bottom: 10px;

        height: 100%;
        width: 100%;
    }

    .two h1{
        font-size: 24px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 10px;
    }
    
    .two p{
        font-size: 18px
    }

    .two .quote{
        width:82%;
    }
    .two .user{
        margin-bottom: 15px;
    }

    .three{
        flex-direction: column;
        gap: 1rem;
    }

    .three .text{
        width: 100%;
        padding: 0 5% 0 5%;

        text-align: center;
    }

    .three h1{
        font-size: 28px;
    }

    .three p{
        padding: 3% 10% 0 10%;
    }

    .three input{
        width: 100%;
    }

    .three button{
        width: 100%;
    }

    footer{
        flex-direction: column;
        gap: 2rem;
    }

    footer a{
        padding-top: .5rem;
        
        align-items: left;
        float: left;
    }
}
